/*
Title: balmor portfolio
Author: Damian Duda
---------------------------------------------  */


a.selected {
margin-left: 0;
}
a.lang {
margin-left: 45px;
}
.author-area { 
background-position: 895px center;
}
blockquote {
width:700px;
}
blockquote p {
width:600px;
}
.slogan {
width: 430px;
}